@model IEnumerable<WebBanHangOnline.Models.EF.Category>

@if (Model != null && Model.Any())
{
    <ul class="navbar_menu">
        @foreach (var item in Model)
        {
            if (item.Alias.Equals("trang-chu"))
            {
                item.Alias = "";
            }
            if (item.Alias.Equals("san-pham"))
            {
                item.Alias = "danh-muc-san-pham/tat-ca";
            }
            <li><a href="/@item.Alias">@item.Title</a></li>
        }
    </ul>
}

<script>
    $(document).ready(function () {
        $('.navbar_menu a').on('click', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');

            $.ajax({
                url: url,
                type: 'POST',
                success: function () {
                    window.location.href = url;
                },
                error: function () {
                    window.location.href = '@Url.Action("Error", "Home")';
                }
            });
        });
    });
</script>
