@model IEnumerable<WebBanHangOnline.Models.EF.ProductCategory>

@if (Model != null && Model.Any())
{
    <ul class="sidebar_categories">
        <li class="active">
            <a href="/danh-muc-san-pham/tat-ca">
                <span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                Tất cả
            </a>
        </li>
        @foreach (var item in Model)
        {          
        <li><a href="/danh-muc-san-pham/@item.Alias-@(item.Id)">@item.Title</a></li>
        }
    </ul>
}

<script>
    $(document).ready(function () {
        $('.sidebar_categories a').on('click', function (e) {
            e.preventDefault();

            $('.sidebar_categories li').removeClass('active').find('span').remove();
            var activeItem = $(this).parent('li').addClass('active');
            activeItem.find('a').prepend('<span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>');

            var url = $(this).attr('href');
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    $('.product-grid').html(data);
                    applyCSSforProductGrid();
                    history.pushState(null, '', url);
                },
                error: function () {
                    alert("Lỗi khi tải sản phẩm.");
                }
            });
        });
    });

</script>
