@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Lỗi";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">

<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">
            <!-- Breadcrumbs -->
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>@ViewBag.Title</a></li>
                </ul>
            </div>
            <!-- Main Content -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="text-danger">Trang này đang được cập nhật!</h3>
                    <p class="text-danger">Mong quý khách quay lại trong thời gian tới khi trang đã sẵn sàng!</p>
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>



