@{
    ViewBag.Title = "Xác nhận quên mật khẩu";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">

<div class="container product_section_container">
    <div class="row">
        <div class="col">
            <!-- Breadcrumbs -->
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>@ViewBag.Title</a></li>
                </ul>
            </div>
        </div>
    </div>
    <h2 id="title">@ViewBag.Title</h2>
    <div class="row">
        <div class="col-md-12">
            <div>
                <p>
                    Hãy kiểm tra email của bạn để đặt lại mật khẩu.
                </p>
            </div>
        </div>
    </div>
</div>
