@{
    ViewBag.Title = "Đặt lại mật khẩu thành công";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">

<div class="container product_section_container">
    <div class="row">
        <div class="col">
            <!-- Breadcrumbs -->
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>@ViewBag.Title</a></li>
                </ul>
            </div>
        </div>
    </div>
    <h2 id="title">@ViewBag.Title.</h2>

    <div class="row">
        <div class="col-md-12">
            <div>
                <p>
                    Mật khẩu của bạn đã được đặt lại. Hãy @Html.ActionLink("click vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>
    </div>
</div>
